.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.product-info__brand {
  color: #9e9e9e;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.product-info__title {
  color: #424242;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.product-info__description {
  color: #616161;
  max-width: 600px;
  font-size: 1.1rem;

  margin-bottom: 1.5rem;
  text-align: justify;
}

.product-info__footer {
  max-width: 600px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-info__price_text {
  font-size: 1.2rem;
  /* font-weight: bold; */
}

.product-info__price_number {
  color: var(--color-btn-cart);
  font-size: 1.3rem;
  font-weight: bold;
}

.quantity-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.quantity-controls__button {
  background-color: var(--color-btn-cart);
  color: #fff;
  padding: 0.25rem 0.75rem;
  margin: 0 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.quantity-controls__button:hover {
  background-color: var(--color-btn-cart-hover);
  filter: brightness(1.1);
}

.add-to-cart-btn {
  background-color: var(--color-btn-cart);
  color: #fff;
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: var(--color-btn-cart-hover);
  filter: brightness(1.1);
}